.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 85% 5%;
    grid-template-columns: 1fr 5fr;
}

.Layout,
aside,
main,
footer {
    border: 0.5px solid;
}

header,
footer {
    grid-column: span 2;
}

main {
    overflow: auto;
}